@import "tailwindcss";

:root {
	--background: #1e1e1d;
	--primary: #fc971b;
	--off-white: #e7e7d6;
	--secondary-background: #2c2c2c;
	--foreground: #aeac92;
}

@theme inline {
	--color-background: var(--background);
	--color-secondary-background: var(--secondary-background);
	--color-primary: var(--primary);
	--color-off-white: var(--off-white);
	--color-foreground: var(--foreground);
	--font-literata: var(--font-literata);
	--font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1e1e1d;
		--primary: #fc971b;
		--off-white: #e7e7d6;
		--secondary-background: #2c2c2c;
	}
}

body {
	background: var(--background);
	font-family: var(--font-literata);
}

.homepage-size {
	min-height: calc(100vh - 220px);
}

.projects-grid {
	grid-template-rows: 120px 1fr;
}
